/* By Nasy */

#content {
    background-color: #f2ecde;
    max-width: 100vw !important;
}

#postamble {
    display: none;
}

#table-of-contents a {
    color: #f2ecde;
}

#table-of-contents a:hover {
    background-color: #d597ce;
}

#table-of-contents a span {
    color: #50616d;
    background-color: initial;
}

#table-of-contents h2 {
    background-color: #ffcab0;
    color: #745c97;
}

#table-of-contents {
    background: #745c97;
    padding-bottom: 1rem !important;
}

#table-of-contents li ul li ul li ul li a {
    padding: 0.4045em 4.036em;
    overflow: auto;
}

#table-of-contents li ul li ul li ul li ul li a {
    padding: 0.4045em 4.736em;
    overflow: auto;
}

body,
pre.src {
    background-color: #282a36;
    transition: box-shadow 2s;
}

code {
    background: initial;
    border: none;
    white-space: pre-wrap;
    font-size: 100%;
    padding: 0;
}

kbd {
    border-style: outset;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "PingFang SC";
}

p.verse {
    writing-mode: vertical-rl;
    font-style: normal;
    border-left: none;
    border-right: 5px solid #d2b38c;
    background-color: #fef8de;
    box-shadow: 1px 1px 5px #50616d;
}

code,
.src,
pre * {
    font-family: "MonolLisa";
}

pre.src {
    text-shadow: 0px 0px 0px;
    box-shadow: 1px 1px 5px #50616d;
    color: #50616d;
    background-color: #fef8de;
}

pre.src:before {
    top: -4px;
    box-shadow: 3px 3px 3px #eee;
    border-color: #ccc;
    padding: 0;
}

pre.src:hover {
    box-shadow: 1px 1px 10px #c0ffc2, 1px 1px 5px #7a378b;
}

span.tag {
    background: initial;
}

ul.nav li.active a {
    background-color: #f69d9d;
}

ul.nav li.active ul li a {
    background-color: #ffcab0;
}

ul.nav li.active ul li.active a {
    background-color: #ffebbb;
}

ul.nav li.active ul li.active ul li.active a {
    background-color: #c8e6c6;
}

ul.nav li.active ul li.active ul li.active ul li.active a {
    background-color: #e3efd1;
}

::selection {
    background-color: #D3CBAF;
}
